.line-1{
    color: blue;
}

.line-2{
    color: chartreuse;
}
.paragraph-1{
    color: gold;
}
.paragraph-2{
    color: red;
}
#European-countries{
    background-color: blue;
}
body{
    background-color: aqua;
}